.form-field {
  margin: 10px;
  font-family: monospace;
}

.form-field label {
  text-align: right;
  width: 200px;
  display: inline-block;
  margin-right: 20px;
}

.form-field input {
  background-color: #CCCCCC;
  border-color: black;
  outline-color: black;
  padding: 5px;
  font-family: monospace;
  font-weight: bold;
}

button {
  font-family: monospace;
  background-color: black;
  color: orange;
  border-color: red;
  outline-color: black;
  padding: 4px;
}

.form-errors {
  color: red
}

.form-messages {
  color: green
}